.mainMF {
  background-color: #545d66;
  border: 15px solid #545d66;
}

.mainMF > div:last-child {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainMF > div:first-child > div:last-child {
  border: 10px inset #d1d2ca;
  border-radius: 10px 10px 20px 20px;
}
