.popUpWindow__container {
  background-color: gray;
  background-image: url("../../assets/dungeon-floor.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1rem;
  width: 25vw;
  height: 25vh;
  border-radius: 10px;
  border-style: solid;
  border-color: tomato;
  border-width: 20px;
}

.imgContainer {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/player_fische.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.popUp {
  position: relative;
  font-size: larger;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0.5%;
}
.popUp button {
  position: absolute;
  font-size: 60%;
  bottom: 10%;
  height: 10%;
  width: 10%;
  border-radius: 20%;
  border-color: goldenrod;
  background-color: tomato;
}
