.main {
  height: 100vh;
  width: 100vw;
  background-color: #db691f;
  background-image: linear-gradient(
    141deg,
    #d3da3b 0%,
    #db691f 51%,
    #9c1616 75%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
