.arcadeContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arcadeConsole {
  height: 500px;
  display: flex;
  position: relative;
  border-radius: 0;
}

@media only screen and (max-width: 1000px) {
  .arcadeContainer {
    height: 100%;
  }
  .arcadeConsole {
    flex-direction: column;
    width: 500px;
  }
  .gameDisplay {
    order: -1;
  }
  .leftController {
    width: 50%;
    min-height: 500px;
    border-radius: 0 0 0 25px;
  }
  .rightController {
    width: 50%;
    min-height: 500px;
    position: absolute;
    right: 0;
    margin-top: 500px;
    border-radius: 0 0 25px 0;
  }
}
