.rightController {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* width: 100vw; */
  background-color: turquoise;
  padding: 50px;
}

.listWrap {
  background-color: black;
  width: 200px;
  padding: 20px;
  color: yellow;
}

.scoreList > li {
  text-align: end;
}

.keys > button {
  border-radius: 100%;
  background: rgb(46, 47, 69);
  background: linear-gradient(
    0deg,
    rgba(46, 47, 69, 1) 0%,
    rgba(94, 94, 150, 1) 75%
  );
  border: solid 3px rgb(46, 47, 69);
}

#btn-up-right {
  grid-area: 1 / 3 / 2 / 4;
}

#btn-down-left {
  grid-area: 3 / 1 / 4 / 2;
}
