.game {
  background-color: hotpink;
}

.container {
  position: relative;
}

.controls {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.controls > * {
  margin: 4px;
}

.controls__btn {
  color: white;
  background: #1fc8db59;
  border: none;
  padding: 4px;
}

.controls__time {
  color: #fff;
}
