.game {
  background-image: url("../../assets/dungeon-floor.png");
  background-size: cover;
}

.container {
  position: relative;
}

.controls {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

.controls > * {
  margin: 4px;
}

.controls__btn {
  color: white;
  background: #1fc8db59;
  border: none;
  padding: 4px;
}

.controls__time {
  color: #fff;
}
