.nokiaMainButtons {
  display: flex;
  flex-direction: column;
}

.nokiaMainButtons div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.nokiaMainButtons div:last-child {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.nokiaMainButtons > div:first-child > button {
  border: none;
  padding: 15px 50px;
  border-radius: 15px 15px 60px 60px;
  box-shadow: -4px 4px black;
}
.nokiaMainButtons > div:last-child > button:first-child {
  border: none;
  padding: 5px 30px;
  border-radius: 15px 15px 15px 60px;
  font-size: 1.2rem;
  box-shadow: -4px 4px black;
}
.nokiaMainButtons > div:last-child > button:last-child {
  border: none;
  padding: 5px 30px;
  border-radius: 15px 15px 60px 15px;
  font-size: 1.2rem;
  box-shadow: -4px 4px black;
}
