.endscreen {
  background-image: url(../../assets/pixel_background.png);
  background-position: bottom;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.survivedPlayer {
  height: 25vh;
  width: 7vw;
  animation: 6s ease-in survivalDance;
  opacity: 0;
}

@keyframes survivalDance {
  0% {
    margin-left: 90%;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-left: 0%;
    opacity: 0;
  }
}

.endscreenMessage {
  color: white;
  text-shadow: black 2px 3px 1px;
  font-size: 2rem;
  padding: 10px 30px 30px;
}
