*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Press Start 2P", cursive;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Press Start 2P", cursive;
}
